body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

.container {
    width: 420px;
    margin: 60px auto;
    padding: 25px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: center;
}

input, select, button {
    width: 100%;
    height: 45px;              
    padding: 10px;
    margin-top: 12px;
    font-size: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;    
}


button {
    background: #27ae60;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #219150;
}
.result {
    margin-top: 15px;
    font-weight: bold;
}
